<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grevienceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rooster.ViewRoosterActivity"></activity>
        <activity android:name=".Rooster.AddRoosterActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".tempActivity" />
        <activity android:name=".LeaveModule.IndividualLeavePreview" />
        <activity android:name=".LeaveModule.LeaveHistory" />
        <activity android:name=".LeaveModule.LeaveViewerAdmin" />
        <activity android:name=".LeaveModule.LeaveApplication" />
        <activity android:name=".Quiz.ResultQuiz" />
        <activity android:name=".Greviance.G_Admin_LevelAuth" />
        <activity android:name=".Greviance.GrevienceListView" />
        <activity android:name=".Greviance.GrevienceAdmin" />
        <activity android:name=".Greviance.GrevienceUserEntry" />
        <activity android:name=".BioData.bioData" />
        <activity android:name=".BioData.bioDataAdmin" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".MainActivity" >


        </activity>
    </application>

</manifest>